<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="training">
            <config key="input_1_0:0">
                <config key="converter">
                    <entry key="enabled" type="xboolean" value="true"/>
                    <entry key="converter" type="xstring" value="org.knime.ip.dl.DLImgPlusValueToFloatTensorConverterFactory"/>
                </config>
                <config key="input_columns">
                    <entry key="enabled" type="xboolean" value="true"/>
                    <config key="input_columns">
                        <config key="input_columns">
                            <entry key="filter-type" type="xstring" value="STANDARD"/>
                            <config key="included_names">
                                <entry key="array-size" type="xint" value="1"/>
                                <entry key="0" type="xstring" value="Img Calc"/>
                            </config>
                            <config key="excluded_names">
                                <entry key="array-size" type="xint" value="0"/>
                            </config>
                            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
                            <config key="name_pattern">
                                <entry key="pattern" type="xstring" value=""/>
                                <entry key="type" type="xstring" value="Wildcard"/>
                                <entry key="caseSensitive" type="xboolean" value="true"/>
                                <entry key="excludeMatching" type="xboolean" value="false"/>
                            </config>
                            <config key="datatype">
                                <config key="typelist">
                                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                                    <entry key="org.knime.knip.base.data.img.ImgPlusValue" type="xboolean" value="false"/>
                                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                                </config>
                            </config>
                        </config>
                    </config>
                </config>
            </config>
        </config>
        <config key="target">
            <config key="dense_3_0:0">
                <config key="converter">
                    <entry key="enabled" type="xboolean" value="true"/>
                    <entry key="converter" type="xstring" value="org.knime.dl.core.data.convert.DLDoubleValueToFloatTensorConverterFactory"/>
                </config>
                <config key="input_columns">
                    <entry key="enabled" type="xboolean" value="true"/>
                    <config key="input_columns">
                        <config key="input_columns">
                            <entry key="filter-type" type="xstring" value="STANDARD"/>
                            <config key="included_names">
                                <entry key="array-size" type="xint" value="1"/>
                                <entry key="0" type="xstring" value="diagnosis_coded"/>
                            </config>
                            <config key="excluded_names">
                                <entry key="array-size" type="xint" value="0"/>
                            </config>
                            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
                            <config key="name_pattern">
                                <entry key="pattern" type="xstring" value=""/>
                                <entry key="type" type="xstring" value="Wildcard"/>
                                <entry key="caseSensitive" type="xboolean" value="true"/>
                                <entry key="excludeMatching" type="xboolean" value="false"/>
                            </config>
                            <config key="datatype">
                                <config key="typelist">
                                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                                    <entry key="org.knime.knip.base.data.img.ImgPlusValue" type="xboolean" value="false"/>
                                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                                </config>
                            </config>
                        </config>
                    </config>
                </config>
                <config key="loss_function">
                    <entry key="enabled" type="xboolean" value="true"/>
                    <entry key="loss_function" type="xstring" value="org.knime.dl.keras.core.training.DLKerasLossFunction.DLKerasBinaryCrossEntropy"/>
                </config>
                <config key="useCustomLoss">
                    <entry key="enabled" type="xboolean" value="true"/>
                    <entry key="useCustomLoss" type="xboolean" value="false"/>
                </config>
                <config key="custom_loss_function">
                    <entry key="enabled" type="xboolean" value="true"/>
                    <entry key="custom_code" type="xstring" value="import keras.backend as K%%00010%%00010def custom_loss(y_true, y_pred):%%00010%%00009# insert your custom code here%%00010%%00009return K.categorical_crossentropy(y_true, y_pred)"/>
                </config>
            </config>
        </config>
        <config key="general_settings">
            <config key="backend">
                <entry key="enabled" type="xboolean" value="true"/>
                <entry key="backend" type="xstring" value="org.knime.dl.keras.tensorflow.core.training.DLKerasTensorFlowDefaultTrainingContext"/>
            </config>
            <config key="epochs">
                <entry key="enabled" type="xboolean" value="true"/>
                <entry key="epochs" type="xint" value="100"/>
            </config>
            <config key="batch_size">
                <entry key="enabled" type="xboolean" value="true"/>
                <entry key="batch_size" type="xint" value="128"/>
            </config>
            <config key="validation_batch_size">
                <entry key="enabled" type="xboolean" value="false"/>
                <entry key="validation_batch_size" type="xint" value="100"/>
            </config>
            <config key="optimizer">
                <entry key="enabled" type="xboolean" value="true"/>
                <config key="optimizer">
                    <entry key="identifier" type="xstring" value="org.knime.dl.keras.core.training.DLKerasOptimizer.DLKerasAdam"/>
                    <config key="optimizer">
                        <config key="adam_lr">
                            <entry key="enabled" type="xboolean" value="true"/>
                            <entry key="adam_lr" type="xdouble" value="0.001"/>
                        </config>
                        <config key="adam_beta_1">
                            <entry key="enabled" type="xboolean" value="true"/>
                            <entry key="adam_beta_1" type="xdouble" value="0.9"/>
                        </config>
                        <config key="adam_beta_2">
                            <entry key="enabled" type="xboolean" value="true"/>
                            <entry key="adam_beta_2" type="xdouble" value="0.999"/>
                        </config>
                        <config key="adam_epsilon">
                            <entry key="enabled" type="xboolean" value="true"/>
                            <entry key="adam_epsilon" type="xdouble" value="1.0E-8"/>
                        </config>
                        <config key="adam_decay">
                            <entry key="enabled" type="xboolean" value="true"/>
                            <entry key="adam_decay" type="xdouble" value="0.0"/>
                        </config>
                    </config>
                </config>
            </config>
            <config key="clip_norm">
                <entry key="enabled" type="xboolean" value="false"/>
                <entry key="clip_norm" type="xdouble" value="1.0"/>
            </config>
            <config key="clip_value">
                <entry key="enabled" type="xboolean" value="false"/>
                <entry key="clip_value" type="xdouble" value="1.0"/>
            </config>
            <config key="terminate_on_nan">
                <entry key="enabled" type="xboolean" value="false"/>
                <config key="terminate_on_nan"/>
            </config>
            <config key="early_stopping">
                <entry key="enabled" type="xboolean" value="false"/>
                <config key="early_stopping">
                    <config key="monitor">
                        <entry key="enabled" type="xboolean" value="false"/>
                        <entry key="quantity" type="xstring" value="loss"/>
                        <entry key="output" type="xstring" value="network"/>
                        <entry key="validation" type="xboolean" value="false"/>
                    </config>
                    <config key="min_delta">
                        <entry key="enabled" type="xboolean" value="false"/>
                        <entry key="min_delta" type="xdouble" value="0.0"/>
                    </config>
                    <config key="patience">
                        <entry key="enabled" type="xboolean" value="false"/>
                        <entry key="patience" type="xint" value="0"/>
                    </config>
                    <config key="mode">
                        <entry key="enabled" type="xboolean" value="false"/>
                        <entry key="mode" type="xstring" value="auto"/>
                    </config>
                </config>
            </config>
            <config key="reduce_lr_on_plateau">
                <entry key="enabled" type="xboolean" value="false"/>
                <config key="reduce_lr_on_plateau">
                    <config key="monitor">
                        <entry key="enabled" type="xboolean" value="false"/>
                        <entry key="quantity" type="xstring" value="loss"/>
                        <entry key="output" type="xstring" value="network"/>
                        <entry key="validation" type="xboolean" value="false"/>
                    </config>
                    <config key="factor">
                        <entry key="enabled" type="xboolean" value="false"/>
                        <entry key="factor" type="xdouble" value="0.1"/>
                    </config>
                    <config key="patience">
                        <entry key="enabled" type="xboolean" value="false"/>
                        <entry key="patience" type="xint" value="10"/>
                    </config>
                    <config key="mode">
                        <entry key="enabled" type="xboolean" value="false"/>
                        <entry key="mode" type="xstring" value="auto"/>
                    </config>
                    <config key="epsilon">
                        <entry key="enabled" type="xboolean" value="false"/>
                        <entry key="epsilon" type="xdouble" value="1.0E-4"/>
                    </config>
                    <config key="cooldown">
                        <entry key="enabled" type="xboolean" value="false"/>
                        <entry key="cooldown" type="xint" value="0"/>
                    </config>
                    <config key="min_lr">
                        <entry key="enabled" type="xboolean" value="false"/>
                        <entry key="min_lr" type="xdouble" value="0.0"/>
                    </config>
                </config>
            </config>
            <config key="shuffle_training_data">
                <entry key="enabled" type="xboolean" value="true"/>
                <entry key="shuffle_training_data" type="xboolean" value="true"/>
            </config>
            <config key="random_seed">
                <entry key="enabled" type="xboolean" value="true"/>
                <entry key="random_seed" type="xlong" value="1725816825661"/>
            </config>
        </config>
        <config key="gpu_selection_settings">
            <config key="cuda_visible_devices">
                <entry key="enabled" type="xboolean" value="true"/>
                <entry key="cuda_visible_devices" type="xstring" value=""/>
            </config>
        </config>
        <entry key="python3_command" type="xstring" value="C:\Users\m10368am\AppData\Local\anaconda3\envs\py3_knime_dl"/>
    </config>
    <config key="variables">
        <entry key="version" type="xstring" value="V_2019_09_13"/>
        <config key="tree">
            <config key="python3_command">
                <entry key="used_variable" type="xstring" value="conda.environment"/>
                <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
            </config>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="100 Epochs%%00010%%00010100 was found by trial%%00010and error:%%0001030: predicted all positive%%0001060: accuracy = 0.75%%00010100: accuracy = 0.8%%00010120 Epochs: accuracy = 0.77"/>
        <entry key="contentType" type="xstring" value="text/plain"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="0"/>
        <entry key="y-coordinate" type="xint" value="0"/>
        <entry key="width" type="xint" value="0"/>
        <entry key="height" type="xint" value="0"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="0"/>
        <entry key="defFontSize" type="xint" value="-1"/>
        <entry key="annotation-version" type="xint" value="20230412"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.dl.keras.base.nodes.learner.DLKerasLearnerNodeFactory"/>
    <entry key="node-name" type="xstring" value="Keras Network Learner"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Deep Learning - Keras Integration"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.dl.keras"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.0.v202312081534"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Deep Learning - Keras Integration"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.dl.keras.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.0.v202312081534"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Keras Network Learner"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
