<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="m_namePrefix">
            <entry key="enabledStatus" type="xboolean" value="false"/>
        </config>
        <config key="m_shape">
            <entry key="DLKerasTuple.Tuple" type="xstring" value="150, 150, 3"/>
            <entry key="DLKerasTuple.Min" type="xint" value="1"/>
            <entry key="DLKerasTuple.Max" type="xint" value="2147483647"/>
            <entry key="DLKerasTuple.IsEnabled" type="xboolean" value="true"/>
            <entry key="DLKerasTuple.Constraint.PARTIAL" type="xstring" value="PARTIAL"/>
        </config>
        <config key="m_batchSize">
            <entry key="enabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="m_dataType" type="xstring" value="FLOAT_32"/>
        <entry key="m_dataFormat" type="xstring" value="CHANNEL_LAST"/>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="150 x 150 x 3%%00010(150 x 150 px and%%000103 colour channels)"/>
        <entry key="contentType" type="xstring" value="text/plain"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="0"/>
        <entry key="y-coordinate" type="xint" value="0"/>
        <entry key="width" type="xint" value="0"/>
        <entry key="height" type="xint" value="0"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="0"/>
        <entry key="defFontSize" type="xint" value="-1"/>
        <entry key="annotation-version" type="xint" value="20230412"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.dl.keras.base.nodes.layers.core.input.DLKerasInputLayerNodeFactory"/>
    <entry key="node-name" type="xstring" value="Keras Input Layer"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Deep Learning - Keras Integration"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.dl.keras"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.0.v202312081534"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Deep Learning - Keras Integration"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.dl.keras.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.0.v202312081534"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Keras Input Layer"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
